.register {
  position: relative;
  &-bg {
    width: 100%;
    height: 100vh;
    background: #ecf2ef;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  &-form {
    width: 710px;
    height: 700px;
    background: #ffffff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.13);
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-title {
      text-align: center;
      margin: 50px 0 40px 0;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #145930;
    }
    &-name {
      display: block;
      margin-top: 16px;
    }

    form {
      margin: 0 205px;
    }

    label {
      font-size: 14px;
      color: #145930;
      display: block;
      margin-top: 16px;
    }

    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="text"] {
      display: block;
      width: 300px;
      height: 36px;
      background: #ffffff;
      border: 2px solid #145930;
      box-sizing: border-box;
      border-radius: 18px;
      padding: 8px 16px;
      font-size: 14px;
    }
    input[type="text"] {
      width: 100%;
    }

    button {
      margin-top: 21px;
      background: #e8e8e9;
      font-size: 18px;
      width: 300px;
      height: 36px;
      border-radius: 18px;
      border: 2px solid #747474;
      color: #747474;
      cursor: pointer;
    }
  }
}
.ant-form-item {
  margin: 0 205px 16px 205px;
}
